/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  margin: 0;
  font-size: 2em;
}

/* Grouping content
   ========================================================================== */

html{
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* End of normalize.css */

.custom-font {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.verdana {
	font-family: Verdana;
}

.margin-t-80 {
	margin-top: 80px;
}

.margin-t-60 {
	margin-top: 60px;
}

.bg {
  min-width: 100%;
  min-height: 200%;
  padding-top: 60px;
}

.landing {
  min-width: 100%;
  min-height: 200%;
}

.landing {
    min-width: 100%;
    min-height: 200%;
}

.landing {
    min-width: 100%;
    min-height: 200%;
}

.landing {
    min-width: 100%;
    min-height: 200%;
}

.landing {
    min-width: 100%;
    min-height: 200%;
}

.landing {
    min-width: 100%;
    min-height: 200%;
}

#email {
	width:75px;
	height:40px;
}

.student-union-title{
	font-size:600%; 
}

.margin-b-40 {
	margin-bottom: 40px;
}

.margin-b-60{
	margin-bottom: 60px;
}

.top-navbar {
  background-color: #0C3C26;
}

.top-navbar a{
  color: #FFFFFF;
}

.btn-green {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-green:hover {
    background-color: #156741; /* Green */
    color: white;
}

.btn-cyan{
  background-color: #00fff3;
}

.navbar-brand img {
  width: 35px;
  height: 35px;
  margin: auto;
}

.toggle img {
  width: 35px;
  height: 35px;
  margin: auto;
}

.navbar-nav .nav-item .nav-link{
  padding-right: 10px;
  padding-left: 10px;
}

.btn-green{
  background-color: #0C3C26;
  color: #FFFFFF
}

.btn-custom{
  background-color: #38479B;
  color: #FFFFFF
}

.custom-toggler .navbar-toggler {
  background-color: #38479B;
} 

.bg {
  background: url('/static/img/background-v2.jpg');
}

.custom-container {
  height: 100vh;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-both-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-20{
  padding: 20px;
}

.padding-r-l-50{
  padding-right: 50px;
  padding-left: 50px;
}

.landing {
   background: url('/static/img/background-v2.jpg')
}

.font-sans {
  font-family: sans-serif;
}

.info {
  max-width: 600px;
}

.errorlist {
  color: red;
  list-style: none;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}


form {
  width: 100%;
}


/*All content wrapper*/

.content-wrapper{
}


/*Hotline*/

.hotline-wrapper{
    background-color: white;
    width: 80%;
    padding: 10px;
    float:left;
    margin: 50px 10%;
}

.content-wrapper a{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.content-wrapper a:link{
    color: #0C3C26;
}
.content-wrapper a:hover{
    color: #156741;
    background-color: transparent;
    text-decoration: underline;
}

.content-wrapper a:active {
    color: #38479B;
    background-color: transparent;
    text-decoration: underline;
}

.content-wrapper hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* 
.img-hotline{
    max-width: 20%;
}

.abstraction{
    max-width: 75%;
    float: right
}

@media screen and (max-width:800px){
    .img-hotline{
        max-width: 50%;
    }
    .abstraction{
        max-width: 100%;
    }
}

/*Another news Wrapper*/

.another-news-wrapper{
    background-color: black;
    width: 35%;
    float:right;
}

.a-news{
    background-color: white;
    height: 150px;
    margin: 10px;
    padding: 10px;
}

.another-news-img{
    max-width: 15%;
    float: left;
    margin-right: 10px;
}

.another-news-text{
    max-width: 75%;
    float: left;
}

.news{
    background-color: white;
    width: 80%;
    padding: 10px;
    float:left;
    margin: 50px 10%;
}

.news-photo{
    max-width: 25%;
    float: left;
    margin-right: 5%;
}

.abstract{
    max-width: 70%;
    float: left;
}

.text{
    width:100%;
    
}

@media screen and (max-width:800px) {
  .hotline-wrapper, .another-news-wrapper {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    margin-top: 30px;
    margin-left: 0px;
  }
}

@media (min-width: 1025px) {
  .landing {      
     background: url('/static/img/background.jpg');
  }
}

@media screen and (max-width:800px){
    .news-photo{
        max-width: 40%;
    }
    .abstract{
        width: 100%;
    }
}
