{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block heading %}
    <title>Student Union | Welcome</title>
    {% endblock heading %}
</head>
<body>
    {% block content %}
    <div class="container center">
        <div class="row">
            <div class="col-md-8">
                <h3 class="verdana margin-t-80"> Selamat datang di</h1>
                <h1 class="student-union-title margin-b-40"><b>Student Union</b></h1>
                <h4 class="margin-b-60"><i>Platform untuk menemukan kegiatan</i></h4>
                <div class="col-md-10">
                    <div class="btn-toolbar text-left" role="toolbar">
                        <div class="btn-group mr-3">
                            <a href="/news/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Berita</a>
                        </div>
                        <div class="btn-group ml-3">
                            <a href="/event_page/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Kegiatan</a>   
                        </div>         
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left">
            <h4 class="custom-font margin-t-60"> 
                <strong>Kontak</strong> 
            </h4>
            <h6 class="custom-font"> 
                <i> <img src="{% static 'landing_page/img/email.jpg' %}" id="email"> 
                    student@union.com </i>
            </h6>
        </div>
    </div>
    {% endblock content %}
</body>
