{% extends "base_with_navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block heading %}
    	<style type="text/css">
    	</style>
		<title>Daftar Event | StudentUnion</title>    	
    {% endblock heading %}
</head>
<body class="bg" >

    {% block content %}
	    <div class="custom-container container-center">
		    <div class="row">
			    <div class="col-lg-6 d-flex justify-content-center">	
					<form method="POST">
						<h2 class="padding-r-l-50">Formulir event</h2>
					  	{% csrf_token %}
						{% for data in forms %}
						<div class="form-group d-flex justify-content-start padding-r-l-50">
						    	{{data}}
						    	{% if data.errors %}
						    		{{data.errors}}
						    	{% endif %}
						</div>
						{% endfor %}
						<div class="form-group d-flex justify-content-start padding-r-l-50">
							<button type="submit" class="btn btn-cyan">Daftar</button>
						</div>
					</form>
			    </div>
			    <div>
			    	
			    </div>
			    <div class="col-lg-6 container-center">
			    	<h1>
			    		<br><br>
			    		BELUM DAFTAR? <br>
			    		GILA LU! <br>
			    		BURUAN DAFTAR SEKARANG! <br><br>
			    		<!-- KLIK! -->
			    	</h1>
			    </div>
		 	</div>
		 </div>
    {% endblock content %}
</body>
