{% extends "base_with_navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block heading %}
    <title>Student Union | About</title>
    {% endblock heading %}
</head>
<body>
    {% block content %}
    <br /><br /><br /><br />
    {% if user.is_authenticated %}
        <form action="" method="POST"> 
            {% csrf_token %}
            <section class="intro">
            <div class="container text-center">
                <h1>Testimoni anda</h1>
                <div class="container center">
                    {{form.deskripsi}}
                    <button class="registerbtn" type="submit" value="Submit">
                        SUBMIT
                    </button>
                </div>
            </div>
        </form>

        <br /><br /><br />
        
        <div class="flex-item">
            {% if list %}
                <div class="container">
                    <table class="table table-striped table-dark">
                        <thead>
                            <th scope="col">Nama</th>
                            <th scope="col">Waktu</th>
                            <th scope="col">Komentar</th>
                        </thead>
                        {% for data in list %}
                        <tbody>
                            <tr>
                                <th scope="row">{{data.nama_user}}</th>
                                <td>{{data.waktu}}</td>
                                <td>{{data.deskripsi}}</td>
                            </tr> 
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <div class="container text-center">
                <h1> Status belum tersedia </h1>
            </div>
            {% endif %} 

    {% else %}
        <div class="flex-item">
            {% if list %}
                <div class="container">
                    <table class="table table-striped table-dark">
                        <thead>
                            <th scope="col">Nama</th>
                            <th scope="col">Waktu</th>
                            <th scope="col">Komentar</th>
                        </thead>
                        {% for data in list %}
                        <tbody>
                            <tr>
                                <th scope="row">{{data.nama_user}}</th>
                                <td>{{data.waktu}}</td>
                                <td>{{data.deskripsi}}</td>
                            </tr> 
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <div class="container">
                <h1> Status belum tersedia </h1>
            </div>
            {% endif %}
    {% endif %}

    {% endblock content %}
</body>