{% extends "base_with_navbar.html" %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block heading %}
		<title>Masuk | StudentUnion</title>   
		<script src="{% static 'member/js/login.js' %}"> </script> 	
    {% endblock heading %}
</head>

<body class="bg" >
    {% block content %}
    {% if user.is_authenticated %}
    {% else %}
    <div class="custom-container container-center">
	    <div class="row">
		    <div class="col-lg-6 d-flex justify-content-center">	
				<form class="container-center" method="post">
				  	{% csrf_token %}
					{% for data in form %}
					<div class="form-group d-flex justify-content-start padding-r-l-50">
					    	{{data}}
					</div>
					{% if data.errors %}
					<div class="form-group d-flex justify-content-start padding-r-l-50">
					    {{data.errors}}
					</div>
					{% endif %}
					{% endfor %}
					<div class="form-group d-flex justify-content-start padding-r-l-50">
					<button type="submit" class="btn btn-cyan">Masuk</button>
					</div>
					<div class="form-group d-flex justify-content-start padding-r-l-50">
						<a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-social btn-google btn-block">
							<i class="fab fa-google"></i> Log in with Google
						</a>
					</div>
				</form>
		    </div>
		    <div class="col-lg-6 container-center">
		    	<img class="img-fluid info" src="{%  static 'member/img/info.png' %}">
		    </div>
	 	</div>
	 </div>
	{% endif %}
	<div class="modal fade" id="modal-welcome" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modal-welcome-title">Welcome</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Hello, {{user.username}}. I hope you enjoy our content.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    {% endblock content %}
</body>