{% extends "base_with_navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block heading %}
    <title>Student Union | Kegiatan</title>
    {% endblock heading %}
</head>
<body>
    {% block content %}
    <br /><br /><br /><br />
    {% if events %}
        <div class="container">
            <table class="table table-striped table-dark">
                <thead>
                    <th scope="col">Nama Kegiatan</th>
                    <th scope="col">Waktu dan Tanggal</th>
                    <th scope="col">Info kegiatan</th>
                    <th scope="col"></th>
                </thead>
                {% for data in events %}
                <tbody>
                    <tr>
                        <th scope="row">{{data.nama_kegiatan}}</th>
                        <td>{{data.waktu_tanggal}}</td>
                        <td>{{data.deskripsi_kegiatan}}</td>
                        <td> <a href="/event/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Daftar</a> </td>
                        <td> <a href="/event_page/pendaftar" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Pendaftar</a> </td>
                    </tr> 
                </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <br><br><br>
        <div class="container">
            <h1 class="text-center"> Belum Ada Kegiatan </h1>
        </div>
    {% endif %}
    {% endblock content %}
</body>