{% extends "base_with_navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block heading %}
    <title>Student Union | Pendaftar</title>
    {% endblock heading %}
</head>
<body>
    {% block content %}
    <br /><br /><br /><br />
    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
                <th scope="col">Nama Pengguna</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <tr>
###INI MASIH DUMMY###
                    <th scope="row">Alex</th>
                    <td>Anggota</td>
                </tr> 
            </tbody>
        </table>
    </div>
    {% endblock content %}
</body>
