<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {% block heading %}
    {% endblock heading %}
</head>

<body class="bg" >
    <nav class="navbar navbar-expand-sm top-navbar fixed-top">
        <a class="navbar-brand" href="/landing_page">
            <img src="{% static 'img/home.png' %}">
        </a>    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-light navbar-toggler-icon toggle">
                <img src="{% static 'img/toggle.png' %}">
            </span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/news">
                        <button class="btn btn-green">Berita</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event_page">
                        <button class="btn btn-green">Kegiatan</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <button class="btn btn-green">Testimoni</button>
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button class="btn btn-green">{{user.username}}</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-not-hover" href="{% url 'account_logout' %}">
                            <button class="btn btn-custom">Keluar</button>
                        </a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">
                            <button class="btn btn-green">Masuk</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-not-hover" href="{% url 'account_signup' %}">
                            <button class="btn btn-custom">Daftar</button>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
