{% extends "base_with_navbar.html" %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block heading %}
		<title>Daftar | StudentUnion</title>    	
    {% endblock heading %}
</head>

<body class="bg" >
    {% block content %}
    {% if user.is_authenticated %}
    <div class="custom-container container-both-center">
    	<div class="warning">
	    	<h1>Anda sudah masuk sebagai {{user.username}}</h1>
	    	<h2>Silakan keluar untuk mendaftarkan akun lain</h2>
    	</div>
    </div>
    {% else %}
    <div class="custom-container container-center">
	    <div class="row">
		    <div class="col-lg-6 d-flex justify-content-center">	
				<form method="post">
					<h2 class="padding-r-l-50">Formulir anggota</h2>
				  	{% csrf_token %}
					{% for data in form %}
					<div class="form-group d-flex justify-content-start padding-r-l-50">
					    	{{data}}
					</div>
					{% if data.errors %}
					<div class="form-group d-flex justify-content-start padding-r-l-50">
					    {{data.errors}}
					</div>
					{% endif %}
					{% endfor %}
					<div class="form-group d-flex justify-content-start padding-r-l-50">
						<button type="submit" class="btn btn-cyan">Daftar</button>
					</div>
					<div class="form-group d-flex justify-content-start padding-r-l-50">
						<a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-social btn-google btn-block">
							<i class="fab fa-google"></i> Log in with Google
						</a>
					</div>
				</form>
		    </div>
		    <div class="col-lg-6 container-center">
		    	<img class="img-fluid info" src="{%  static 'member/img/info.png' %}">
		    </div>
	 	</div>
	 </div>
	{% endif %}
    {% endblock content %}
</body>
