{% extends "base_with_navbar.html" %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% block heading %}
            <title>News | StudentUnion</title>
            <link rel="stylesheet" href= "{% static '_news.css' %}">    	
        {% endblock heading %}  
    </head>
    <body>

        {% block content %}
        {% if user.is_authenticated %}
            <div class="content-wrapper">
                <div class="hotline-wrapper">
                    {% for news in newses %}
                    <a class="Hotline tittle" href="{% url 'detail' slug=news.slug %}">{{ news.title }}</a><br>
                    <hr>
                    {% endfor%}
                </div>
            </div>
        {% else %}
        <div class="content-wrapper">
                <div class="hotline-wrapper">
                    {% for news in newses %}
                        <a class="hotline-title" href="">{{ news.title }}</a><br>
                        <hr>
                    {% endfor%}
                </div>
            </div>
        {% endif %}
        {% endblock content %}

    </body>
</html>