{% extends "base_with_navbar.html" %}

<html>
    <head>
        {% load static %}
        {% block heading %}
        <title>{{ news_details.title }}</title>
        <link rel="stylesheet" href= "{% static '_news2.css' %}">
        {% endblock heading %} 
    </head>
    <body>
        {% block content %}
        {% if user.is_authenticated %}
        <div class="news-wrapper">
            <div class='news'>
                <h1 class='title'>{{ news_details.title }}</h1>
                <img class= 'news-photo' src="{{ news_details.image }}" alt="">
                <p class='abstract'>{{ news_details.abstract }}</p>
                <p class="text">{{ news_details.text }}</p>
            </div> 
        </div>
        {% else %}
        <div class="news-wrapper">
            <div class='news'>
                <h1 class='title'>{{ news_details.title }}</h1>
                <img class= 'news-photo' src="{{ news_details.image }}" alt="">
                <p class='abstract'>{{ news_details.abstract }}</p>
                <p class="text">{{ news_details.text }}</p>
            </div>
        </div> 
        {% endif %}
        {% endblock %}
    </body>
</html>
